@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
body,
html {
    margin: 0;
    font-family: 'Prompt', sans-serif;
}

#homePage {
    background-image: url('../img/homeBackground.jpeg');
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#homeInfo {
    background-color: antiquewhite;
    width: 30em;
    height: 30em;
    padding: 1em;
    text-align: center;
    font-size: 1.3em;
    opacity: 0.9;
    border-radius: 1.5em;
    position: relative;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

#homeInfo img {
    height: 70%;
    object-fit: cover;
    border-radius: 100%;
}


